form li {
  list-style: none;
  margin-bottom: 18px;
}
form ul{
  padding-left: 0;
}
label{
  display:block;
  cursor: pointer;
  color: #292929;
  font-family: sans-serif;
  padding-bottom: 18px;
}
textarea{
  width: 400px;
  height: 200;
}
