body{
  background: grey;
}
h1{
font-family:sans-serif;
margin-top:30px;
font-size: 23px;
text-align: center;
letter-spacing: 10px;
color: orange;
text-shadow: 1px 10px 4px black;
text-transform: uppercase;
font-variant: small-caps;

}
